*{
	text-align: center;
	background-image: url(https://static.altchar.com/live/media/images/950x633_ct/8964_Black_Ops_4_to_remove_single_player_campaign_says_report_2_77f4ebc90a517d6d9e2d4b5552851368.jpg);
	color: white;
	
}
iframe{
	margin: 10px;
}
